body {
    background-color: #0c244c;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    font-family: "Helvetica";
}
#h1b {
    color: #bf0d3e;
    background-color: #d4cfd8;
    padding: 10px 10px 10px 10px;
    font-size: 10em;
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    z-index: 1;
    border: none;
    font-weight: bold;
    font-family: "Helvetica";
}

#buttons {
    font-size: 0;
    font-family: "Helvetica";
    position: sticky;
    top: 0;
    left: 0;
}
 
#collection-selction{
    font-size: 0;
    font-family: "Helvetica";
    position: relative;
    top: 4vh;
    left: 0; 
}

.collection-selection-button{
    height: 20vh;
    border: none;
    background-color: #d4cfd8;
}
.collection-selection-button img{
    width: 90%;
    filter: grayscale(100%);
    align-items: center;
}

.collection-selection-button:hover img{
    filter: grayscale(100%) blur(5px);
}

.navButton {
    background-color: #bf0d3e;
    border: none;
    color: #d4cfd8;
    font-size: 30px;
    width: 25%;
    height: 8vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    
        
}
.navButton:hover {
    background-color: #d4cfd8;
    border: none;
    color: #bf0d3e;
    font-size: 30px;
    width: 25%;
    height: 8vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-style: italic;

}
h3 {
    color:#0c244c;
    background-color: #d4cfd8;
    font-size: 4em;
    text-align: center;
    margin: 5vh 30% 5vh 30%;
    padding: 10px 0px 10px 0px;
    border-radius: 15px;
    
}

.featuredcards{
    height: 60vh;
    padding: 0 0 0 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    padding: 10px 250px 10px 250px; 
    
}

.card {
    background-color: #d4cfd8;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;   
}
.card img {
    max-width: 70%;               
    height: auto;                 
    margin-bottom: 10px;
    margin-top: 10px;          
    border-radius: 4px;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}