body {
    background-color: #0c244c;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    font-family: "Helvetica";
}
#h1b {
    color: #bf0d3e;
    background-color: #d4cfd8;
    padding: 10px 10px 10px 10px;
    font-size: 10em;
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    z-index: 1;
    border: none;
    font-weight: bold;
    font-family: "Helvetica";
}

#buttons {
    font-size: 0;
    font-family: "Helvetica";
    position: sticky;
    top: 0;
    left: 0;
}
.navButton {
    background-color: #bf0d3e;
    border: none;
    color: #d4cfd8;
    font-size: 30px;
    width: 25%;
    height: 8vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    
        
}
.navButton:hover {
    background-color: #d4cfd8;
    border: none;
    color: #bf0d3e;
    font-size: 30px;
    width: 25vw;
    height: 8vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-style: italic;

}
h3 {
    color:#0c244c;
    background-color: #d4cfd8;
    font-size: 4em;
    text-align: center;
    margin: 5vh 30vw 0 30vw;
    padding: 10px 0px 10px 0px;
    border-radius: 15px;
    
}

.featuredcards{
    height: 60vh;
    padding: 0 0 0 0;
}

