doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="css/style.css")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Explore your collections in WebCards")
    meta(name="author", content="Your Name")
    meta(property="og:title", content="WebCards Collections")
    meta(property="og:description", content="Manage and view your collections on WebCards.")
    meta(property="og:image", content="/images/og-image.png")
    title Collections
  body
    a(href="/")
      button#h1b WebCards
    div#buttons
      a(href="/")
        button#homeButton.navButton Dashboard

    div#collection-selection
      div.card-grid
        if collections.length
          each collection in collections 
            div.card
              a(href=(collection === "all" ? "/cards" : `/cards?card_type=${collection}`))
                button.collection-selection-button(aria-label="View " + collection + " cards")
                  img(src=(collection === "all" ? "/images/all-logo.png" : "/images/" + collection + "-logo.png"), alt=(collection === "all" ? "All Cards logo" : collection + " logo"))
        else
          p No collections available at this time. Please add some collections.